header {
    background-color: mediumvioletred;
    height: 50px;
}

nav {
    background-color: seagreen;
    height: 50px;
}

main {
    float:left;
    background-color: mediumpurple;
    width: 70%;
    height: 400px;
}

aside {
    margin-left: auto;
    background-color: deepskyblue;
    width: 30%;
    height: 400px;
}

footer {
    clear: both;
    background-color: orangered;
    height: 30px;
}

